body{
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman';
  background: rgba(151, 148, 156, 0.719);
}
h3{
  color: red;
  margin-top:120px;
  text-align: center;
}

.form-inline{
  margin-top: 150px;
  margin-left: 400px;

}